<mat-toolbar color="primary"> Infinite Scroll </mat-toolbar>
<cdk-virtual-scroll-viewport class="content" itemSize="72" #scroller>
  <mat-list>
    <mat-list-item *cdkVirtualFor="let item of listItems">
      <img matListAvatar [src]="item.image" />
      <h3 matLine>{{ item.title }}</h3>
      <p matLine>
        <span> {{ item.content }} </span>
      </p>
      <button mat-icon-button [matMenuTriggerFor]="itemMenu">
        <mat-icon> more_vert </mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="spinner-item" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
</cdk-virtual-scroll-viewport>

<mat-menu #itemMenu="matMenu">
  <button mat-menu-item>Option 1</button>
  <button mat-menu-item>Option 2</button>
  <button mat-menu-item>Option 3</button>
</mat-menu>
